<div>
  <p class="view-topic">
    Dodaj zadanie
  </p>

  <mat-form-field appearance="fill"> <!--kalendarz-->
    <mat-label>Wybierz date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateChose">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-form-field" appearance="fill"> <!--pole do wpisywania zadan-->
    <mat-label>Nowe zadanie</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" style="margin-left: 10px" (click)="addClick()" >Dodaj</button>
</div>
